/*
palette colori:
-arancione
-verde
*/

:root {
    
    --main: green;
    --acc: orange;
    --body: #fafafa;
    --border-size:2px;
    --font-text: monospace;
}

body{
    background-color:var(--body) ;
}

/*Navbar*/
.nav-link:hover,
.nav-link:focus{
    color: var(--main);
    border-bottom: var(--border-size) solid  var(--main);
}

/*sezione principale*/
.bg-image{
    background-image: url(./brooke-lark-230140-unsplash.jpg);
    height: 60vh;
    background-size: cover;
    background-attachment: fixed;
}

/*mobile device*/
@media  screen and (max-width:700px) {
    .bg-image{
        background-position: 40%;
    }
    
}